.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
}
.links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.link {
  text-decoration: none;
}
.logout {
  background-color: var(--color-primary);
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
